# Node modules
node_modules/

# Node modules (both back and frontend)
server/node_modules/
client/node_modules/

# Env files
*.env
server/.env
client/.env

# Build
dist/
server/dist/
client/dist/

# Logs
*.log

# System
.DS_Store
Thumbs.db